.footer {
    border-top: 1px solid grey;
    padding: 10px;
}

.footer-title {
    font-family: Pixelify Sans;
    font-size: 1.3rem;
}

.footer-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-component {
    display: flex;
    justify-content: space-evenly;
}

.footer-symbol {
    width: 1.5rem;
    margin: 0.2rem;
}