.header {
    border-bottom: 1px solid grey;
}

.name-header {
    font-family: Pixelify Sans;
    font-size: 1.5rem;
    color: #404142;
}

ul {
    list-style: none;
}

.header-components {
    display: flex;
    justify-content: space-evenly;
}
