.projects-header {
    font-family: Pixelify Sans;
    text-align: center;
    font-size: 6rem;
}

.line {
    width: 80%;
}

.projects-container {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}