.resume-header {
    font-family: Pixelify Sans;
    text-align: center;
    font-size: 6rem;
}

object {
    max-width: 1000px;
}

.resume-container {
    display: flex;
    justify-content: center;
}